@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}


header {
    background-color: #E74C3C;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
}

.add-recipe {
    margin-top: 1%;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3498DB;
    color: #fff;
    font-size: 150%;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    padding: 0.5%;
    transition: .2s;
}



.buttin {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.main{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    text-transform: uppercase;
    margin-top: 5%;
}



@media (max-width: 576px) {


    

    .main{
        margin-top: 20%;
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 1280px) {

}