@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


img{
    border-radius: 10px;
}


header {
    background-color: #E74C3C;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-family: 'Montserrat', sans-serif;
}

.buttin {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 2%;
    margin-right: 25%;
    margin-left: 25%;
}

.main h1{
    font-size: 390%;
    letter-spacing: 5px;
    text-align: center;
}


.add-recipe {
    margin-top: 1%;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3498DB;
    color: #fff;
    font-size: 150%;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    padding: 0.5%;
    transition: .2s;
}

.add-recipe:hover {
    background-color: #2978ac;
}


.block h2 {
    font-weight: medium;
    margin-top: 92px;
    letter-spacing: 5px;
    font-size: 300%;
    text-transform: uppercase;
    color: #3498DB;

}

.block p {
    margin-top: 3%;
}

.block {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block img {
    margin-top: 3%;
    width: 750;
    width: 500;
}

.main-phone {
    display: none;
}

.anchor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anchor a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.anchor li{
    list-style: none;
    background-color: white;
}

.anchor a:hover {
    background-color: #E74C3C;
    color: white;
}


@media (max-width: 576px) {

    body {
        overflow-x: hidden;
    }


    .buttin {
        margin-top: 20%;
    }

    .add-recipe {
        width: 300px;
    }

    .main {
        margin-right: 5%;
        margin-left: 5%;
    }

    .main h1
    {
    font-size: 300%;
    letter-spacing: 0px;
    text-align: center;
    }

    .block h2 {
        margin-top: 30px;
        text-align: center;
    }

    .block p {
        margin-top: 30px;
    }


    .block img {
        width: 850;
        height: 533;
        margin-left: 1%;
    }
}

@media (max-width: 1280px) {
    .add-recipe{
        margin-top: 5%;
    }

    .block h2{
        text-align: center;
    }
}